version: '3.8'

services:
  postgres-db:
    image: postgres:15-alpine
    container_name: postgres_db
    ports:
      - "5432:5432" # local -> container
    environment:
      - POSTGRES_USER=${POSTGRES_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${DATABASE_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: